services:
  neo4j: 
    image: neo4j:latest 
    container_name: neo4j-db
    ports:
      - 7474:7474
      - 7687:7687
    environment:
      - NEO4J_AUTH=neo4j/password
    volumes:
      - ./neo4j/data:/data
      - ./neo4j/logs:/log
      - ./neo4j/plugins:/plugin
      - ./neo4j/import:/import
    restart: "unless-stopped"